<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pagination is fun</title>

        <link rel="stylesheet" href="{{ base_url() }}/../public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script  src="{{ base_url() }}/../public/js/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ base_url() }}/../public/js/bootstrap.min.js"></script>        
    </body>
</html>
